.pio
#/lib/Arduino_GFX-master
#/lib/ArduinoJson
#/lib/AsyncTCP
#/lib/ESP32-audioI2S-master
lib/Gt911-arduino-main
lib/Lvgl/demos
lib/Lvgl/docs
lib/Lvgl/examples
lib/Lvgl/tests
test
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/
doc/~
SquareLine/SquareLine_Project/ui/
SquareLine/SquareLine_Project/libraries/lvgl/
SquareLine/SquareLine_Project/libraries/TFT_eSPI/
.gitignore